@model AR.ARNews.Employee
@{
    ViewData["Title"] = "EditEmployee";
}

<style>
    .thumb {
        width: 200px;
        height: 300px;
        border: 2px solid red;
        border-radius: 5px;
        text-align: center;
        background-size: cover;
    }

        .thumb:hover {
            cursor: pointer;
            border-color: orange;
        }
</style>

<div class="InnerWrapper">
    <button onclick="window.location.href='/ControlPanel/Employees'">Back</button>
    <h2>Edit Employee</h2>

    @using (Html.BeginForm("AEditEmployee", "ControlPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(e => e.ID)
        <label for="Image" class="thumb" onclick="OpenGallery()">Select image</label>
        @Html.HiddenFor(e => e.Image)<br />

        <label>Display index:</label>@Html.EditorFor(e => e.DisplayIndex)<br />

        <label>First name:</label>@Html.EditorFor(e => e.FirstName)<br />

        <label>Second name:</label>@Html.EditorFor(e => e.SecondName)<br />

        <label>Title:</label>@Html.EditorFor(e => e.Title)<br />

        <label>Telephone:</label>@Html.EditorFor(e => e.Telephone)<br />

        <label>Mail:</label>@Html.EditorFor(e => e.Mail)<br />

        <button>UPDATE</button>
    }
</div>

<partial name="pGallery" model="new Media()">

    <script>
        function OpenGallery() {
            $("#Gallery").show();
        }

        $(function () {
            $(".GalleryItem").click(function () {
                var link = $(this).attr("src").replace(/\\/g, "/");
                $(".thumb").css("background-image", "url('" + link + "')");
                $(".thumb").html("");
                $("#Image").val(link);
                $("#Gallery").hide();
            });

            $(".thumb").css("background-image", "url('@Model.Image')");
            $(".thumb").html("");
        });
    </script>
