
@{
    ViewData["Title"] = "Contact";
    bool admin = false;

    if (Networking.isAdmin(Context.Request))
    {
        admin = true;
    }
}

<script>
    $(function () {
        $("#MenuContact").addClass("active");
    });
</script>
<style>
    #ContactForm {
        width: 100%;
        background-color: #efefef;
        text-align: center;
        position: relative;
        padding-top: 20px;
        border-top: 4px solid rgb(255, 0, 15);
        border-bottom: 4px solid rgb(255, 0, 15);
        font-family: Montserrat-Regular;
    }

        #ContactForm input, #ContactForm textarea {
            width: 80%;
            border: 1px solid lightgray;
            border-radius: 3px;
            margin-top: 3px;
            margin-bottom: 3px;
            font-size: 13px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        #ContactForm button, .btn {
            background-color: rgb(255, 0, 15);
            border: none;
            color: white;
            font-family: Montserrat-Bold;
            font-size: 12px;
            border-radius: 3px;
            padding: 10px 25px 10px 25px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

    .normalp {
        color: black;
        display: block;
    }
</style>

@if (admin)
{
    <style>
        .editable:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
}
<div class="InnerWrapper">
    <div style="font-family: Montserrat-Regular; font-size: large;">
        <h2 style="color: #9a9a9a; border-left: 5px red solid;
        padding-left: 20px; padding-top: 2px;
        padding-bottom: 2px; font-family: Montserrat-Bold;
        margin-bottom: 50px">
            KONTAKT
        </h2>
        <div class="row" style="margin-bottom: 100px">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6" style="font-size: 14px; font-family: Montserrat-Regular">
                        <p style="font-family: Montserrat-Bold">ECHO in Salzburg Verlags GmbH</p>
                        <div style="color: #71737a; display: block; margin-top: 20px">

                            <div class="row">
                                <div class="col-sm-1">
                                    <img style="width: 20px; float: left; margin-right: 5px" src="~/images/phone.png" />
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <p>Tel:</p>
                                            <p>Fax:</p>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>+43 662 45 70 90</p>
                                            <p>+43 662 45 70 90 20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1">
                                    <img style="width: 20px; float: left; margin-right: 5px" src="~/images/mail.png" />
                                </div>
                                <div class="col-sm-10">
                                    <p>
                                        Email: <a style="color: rgb(255, 0, 15)" href="mailto:verwaltung@echosalzburg.at">verwaltung@echosalzburg.at</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row" style="background-color: #f4f4f4; padding: 10px; padding-bottom: 20px; margin-top: 30px">
                    <p style="font-size: 18px; color: rgb(255, 0, 15); font-family: Montserrat-Bold">Ansprechpartner</p>
                    <p style="font-size: 12px; color: #71737a; font-family: Montserrat-Regular">Gerne stehen Ihnen folgende Personen für Ihre Wünsche, Anregungen und Fragen zur Verfügung:</p>
                    <hr />
                    @{
                        List<AR.ARNews.Employee> emps = AR.ARNews.Employee.List();
                        emps.Sort((x, y) => x.DisplayIndex.CompareTo(y.DisplayIndex));
                    }

                    @foreach (AR.ARNews.Employee emp in emps)
                    {
                        <div class="col-sm-6" style="padding: 0; height: 150px; overflow: hidden">
                            <img src="@emp.Image" style="max-width: 30%; float: left; margin-right: 10px" />
                            <p style="font-family: Montserrat-Bold; font-size: 18px; color: #2f3034; margin-bottom: 0"><span style="color: rgb(255, 0, 15)">@emp.FirstName</span> @emp.SecondName</p>
                            <p style="font-family: Montserrat-Regular; font-size: 12px; color: #2f3034; margin-top: 0">@emp.Title</p>
                            <p style="font-family: Montserrat-Regular; font-size: 12px; color: #2f3034; margin-bottom: 0">Tel. @emp.Telephone</p>
                            <a href="mailto:h.kogler@echosalzburg.at" style="font-family: Montserrat-Regular; font-size: 12px; color: rgb(255, 0, 15);">@emp.Mail</a>
                        </div>
                    }
                    @if (admin)
                    {
                        <button onclick="window.location.href='/ControlPanel/Employees'" class="btn">Manage employees</button>
                    }
                </div>
                <p style="font-family: Montserrat-Bold; font-size: 18px; color: #e1000f; margin-top: 50px">Impressum</p>
                <hr />
                <div class="row">
                    @{
                        string c = "";

                        if (admin)
                        {
                            c = "editable";
                        }
                    }
                    <div class="col-sm-12" style="font-family: Montserrat-Bold; font-size: 12px; color: gray">
                        <div>Herausgeber und Medieninhaber:<span class="normalp @c" onclick="Edit(5)">@Html.Raw(AR.ARNews.NonFixedText.Get(5).Text)</span></div><br />
                        <div>Geschäftsführung:<span class="normalp @c" onclick="Edit(6)">@Html.Raw(AR.ARNews.NonFixedText.Get(6).Text)</span></div><br />
                        <div>Verlagssleitung:<span class="normalp @c" onclick="Edit(7)">@Html.Raw(AR.ARNews.NonFixedText.Get(7).Text)</span></div><br />
                        <div>Redaktion:<span class="normalp @c" onclick="Edit(8)">@Html.Raw(AR.ARNews.NonFixedText.Get(8).Text)</span></div><br />
                        <div>Layout / Bildbearbeitung:<span class="normalp @c" onclick="Edit(9)">@Html.Raw(AR.ARNews.NonFixedText.Get(9).Text)</span></div><br />
                        <div>Anzeigen:<span class="normalp @c" onclick="Edit(10)">@Html.Raw(AR.ARNews.NonFixedText.Get(10).Text)</span></div><br />
                        <div>Telefon:<span class="normalp @c" onclick="Edit(11)">@Html.Raw(AR.ARNews.NonFixedText.Get(11).Text)</span></div><br />
                        <div>Fax:<span class="normalp @c" onclick="Edit(12)">@Html.Raw(AR.ARNews.NonFixedText.Get(12).Text)</span></div><br />
                        <div>E-mail (Redaktion):<span class="normalp @c" onclick="Edit(13)">@Html.Raw(AR.ARNews.NonFixedText.Get(13).Text)</span></div><br />
                        <div>E-mail (Anzeigenberatung):<span class="normalp @c" onclick="Edit(14)">@Html.Raw(AR.ARNews.NonFixedText.Get(14).Text)</span></div><br />
                        <div>Firmenbuch:<span class="normalp @c" onclick="Edit(15)">@Html.Raw(AR.ARNews.NonFixedText.Get(15).Text)</span></div><br />
                        <div>Verlagspostamt:<span class="normalp @c" onclick="Edit(16)">@Html.Raw(AR.ARNews.NonFixedText.Get(16).Text)</span></div><br />
                        <div>Offenlegung gemäß § 25<br />Mediengesetz<span class="normalp @c" onclick="Edit(17)">@Html.Raw(AR.ARNews.NonFixedText.Get(17).Text)</span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="ContactForm">
                    <h3 style="font-family: Montserrat-Regular; color: #4c4145; margin: 0; margin-bottom: 20px">Kontaktieren Sie uns</h3>
                    <input id="Firm" placeholder="Firma" /><br />
                    <input id="Anrede" placeholder="Anrede" /><br />
                    <input id="Name" placeholder="Name" /><br />
                    <input id="Zusatz" placeholder="Zusatz" /><br />
                    <input id="Ulica" placeholder="Straße" />
                    <input id="Nr" placeholder="Nr." /><br />
                    <input id="PLZ" placeholder="PLZ" />
                    <input id="Stadt" placeholder="Stadt" /><br />
                    <input id="Bundersland" placeholder="Bundersland" /><br />
                    <input id="Land" placeholder="Land" /><br />
                    <input id="Email" placeholder="Email" /><br />
                    <textarea id="Nachricht" placeholder="Nachricht..."></textarea><br />
                    <button id="ContactUsSubmit" onclick="SendContact()">ABSENDEN</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SendContact() {
        var Firm = $("#Firm").val();
        var Anrede = $("#Anrede").val();
        var Name = $("#Name").val();
        var Zusatz = $("#Zusatz").val();
        var Ulica = $("#Ulica").val();
        var Nr = $("#Nr").val();
        var PLZ = $("#PLZ").val();
        var Stadt = $("#Stadt").val();
        var Bundersland = $("#Bundersland").val();
        var Land = $("#Land").val();
        var Email = $("#Email").val();
        var Nachricht = $("#Nachricht").val();

        if (Firm.length < 1 || Anrede.length < 1 || Name.length < 1 || Zusatz.length < 1
            || Ulica.length < 1 || Nr.length < 1 || PLZ.length < 1 || Stadt.length < 1
            || Bundersland.length < 1 || Land.length < 1 || Email.length < 1 ||
            Nachricht.length < 1) {
            alert("You must enter all fields!");
        }

        $.ajax({
            type: "POST",
            url: "/Home/ASendContact",
            data: {
                firm: Firm,
                anrede: Anrede,
                name: Name,
                zus: Zusatz,
                ul: Ulica,
                nr: Nr,
                plz: PLZ,
                stad: Stadt,
                bund: Bundersland,
                land: Land,
                em: Email,
                nach: Nachricht
            },
            success: function (data) {
                window.location.href = "/Home/Success?msg=" + "Sie haben uns erfolgreich kontaktiert!";
            },
            error: function (data) {
                window.location.href = "/Home/Error?msg=" + data;
            }
        });
    }

    function Edit(id) {
        @if(admin)
        {
            <text>
                window.location.href = '/ControlPanel/EditNonFixedText?ID=' + id;
            </text>
        }
        else
        {
            return;
        }
    }
</script>